

:root
{
    --height-s: 1.3vh;
    --gutter: 1.1vw
    --wrapper: 96vw;
    --margin-s: 2vw;
    --col: calc((var(--wrapper) - 11*var(--gutter))/12);
}

*
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

body
{
    font-family: "HelveticaNowDisplay";
    line-height: 1.34;
    font-size: 2.52vw;
    background: #000;
}

html, body 
{
    height: 100%;
    overflow: hidden;
}

.scroll
{
    will-change: transform;

    position: relative;
    min-height: 100vh;
    overflow: inherit !important;

    .hh
    {
        left: calc(var(--margin-s) + var(--col));
        transform: translateY(-50%);

        .mot1
        {
            margin: 3vw 0 -3vw;
        }
    }
}